$bp1: 480px;
$bp2: 768px;


@font-face {
    font-family: "Bermina Sans";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/BerninaSans-Web-CondensedBold.woff2") format("woff2");
}


.inner {
	width: 100%;
}

.bg_dotted {
	background-image: url('../img/points.svg');
}

.bg_orange {
	background-color: orange;
}

.bg_vert {
	background-color: green;
}

.lesLogos {
	display: flex;
	flex-wrap: wrap;

	> div {
		width: 50%;
	}

}

@media screen and (min-width: $bp1){
	.inner {
		width: $bp1;
        margin: 0 auto;
		
	}
}

@media screen and (min-width: $bp2){
	.inner {
		width: $bp2;
        
	}
    
    
}

.texte_principal {
	text-align: center;
	font-weight: bold;
}

.photo_texte {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}


