
@import 'reset-css';
@import 'layout';
@import 'menu';


$blancSombre: darken(white,50%);

body{
    font-family: "Bermina Sans";
}

h3{
    font-family: "GothamHTF";
}

.rdv{
    background-color:white;
    
}

.rdv:hover {
     background-color: $blancSombre ;
}

.hidden {
    visibility: hidden;
}


header{
   background-image: url("../background.jpg");
   height: 400px;
    background-position: center;
  background-repeat: no-repeat;
    background-size: cover;
    
}

.text_background{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hautDePage{
    display: flex;
   
    > div {
		width: 50%;
	}
}

.center{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto
}

.textcenter{
    text-align: center;
}

.logo_site{
    
	width: 100%;
}

btn{
    width: 100%;
}


.photo img{
	
    border-radius:50%;
}


@media screen and (min-width: $bp1){
    
    .logo_site{
    
	width: 200px;
    }
    
    .photos
    {
        display: flex;
        flex-wrap: wrap;
        
        >div{
            width: percentage(0.5);
        }
        
        
    }
    
    .image_smartphone{
        order: 2;
    }
    
    .image_gym{
        order: 1;
    }
    
    .image_cryolipolyse{
        order: 3;
    }
    
    
}


@media screen and (min-width: $bp2){
	.photos
    {
        display: flex;
        flex-wrap: nowrap;
        
        >div{
            width: 1;
        }
        
        
    }
    
    header{
  
   height: 800px;
  
    }
    
    .nomMarque{
        display: flex;
        align-self: flex-end;
        
    }
}











/*
#lien {
  display: none;
}

.menu{

padding: 0;
margin:0;
list-style-type: none;
display: flex;
flex-direction: column;
align-items: center;

}

.hamburger {
  width: 100%;
  height: auto;
}

@media screen and (min-width:768px) {

   
    
    .hamburger  {
      display: none;
    }    
    
    #lien {
      display: block;
    }
    
    
    .menu{
        flex-direction: row;
        justify-content: space-around;

    }
 

    
}*/