
@import 'reset-css';
@import 'layout';
@import 'menu';


$blancSombre: darken(white,50%);



$body-bg-color  : rgb(245, 245, 245);
$couleurPrincipale: #00465b;
$cPmoinsSombre: lighten($couleurPrincipale,10%);

body{
    font-family: "Bermina Sans";
    color: $couleurPrincipale;
}

h3{
    font-family: "GothamHTF";
}




img{
    width: 100%;
    height: auto;
}

header{
   background-image: url("../background.jpg");
   height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    align-items: flex-end;
    
}

header > div{
    width: 100%
}




.text_background{
    font-size: 0.5em;
    background: white;
    opacity: 0.5;
     
}


.temperature{
    font-size: 0.8em;
        
}

.text_background > div{
    color: black;
    
}

.btn{
     border : solid black 1px;
     border-radius: 5px;
}

.rdv{
    background: #fff;
    color: $couleurPrincipale;

    &:hover {
        
    }
}

.hautDePage{
    display: flex;
    justify-content: flex-end;
    > div{
        width:50%;
    }
    
}


    
.bouton{
    margin-top: auto;
    margin-bottom: auto;
}



.hidden {
    visibility: hidden;
}


.text_background{
    display: flex;
    flex-direction: column;
    
    
}


.center{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.textcenter{
    text-align: center;
}



.photo img{
    border-radius:50%;
}


@media screen and (min-width: $bp1){
    
    .logo_site{
    
	width: 200px;
    }
    
    
    .photos
    {
        display: flex;
        flex-wrap: wrap;
        
        >div{
            width: percentage(0.5);
        }
        
        
    }
    
    .image_smartphone{
        order: 2;
         
    }
    
    .image_gym{
        order: 1;
    }
    
    .image_cryolipolyse{
        order: 3;
         margin: auto;
    }
    
    
    
}


@media screen and (min-width: $bp2){
	.photos
    {
        display: flex;
        flex-wrap: nowrap;
        
        >div{
            width: 1;
        }
        
        
    }
    
    header{
  
     height: 800px;
  
    }
    
    
    
    .text_background{
        
        display: flex;
        flex-direction: row;
        font-size: 1em;
    }
    
    
    .nomMarque{
        display: flex;
        justify-content: flex-end;
    };
}











/*
#lien {
  display: none;
}

.menu{

padding: 0;
margin:0;
list-style-type: none;
display: flex;
flex-direction: column;
align-items: center;

}

.hamburger {
  width: 100%;
  height: auto;
}

@media screen and (min-width:768px) {

   
    
    .hamburger  {
      display: none;
    }    
    
    #lien {
      display: block;
    }
    
    
    .menu{
        flex-direction: row;
        justify-content: space-around;

    }
 

    
}*/